* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-primary-color: #ffffff;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #000000;
}